  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');

  :root {
      --border-color: #e0e0e0;
  }

  * {
      font-family: 'Cairo', sans-serif;
  }

  body {
      background: var(--border-color);
  }

  .main{
    padding: 20px;
  }