  @import url('/ems/assets/css/local-fonts.css');

  :root {
      --border-color: #e0e0e0;
  }

  * {
      font-family: 'Cairo', sans-serif;
  }

  body {
      background: var(--border-color);
  }

  .main{
    padding: 20px;
  }
